$primary-blue: #063573;
$secondary-blue: #064073;
$light-blue: #5B7BA6;
$primary-white: #F2F2F2;
$secondary-white: #ffffff;
$primary-green: #48a238;
$secondary-green: #284922;
$gray: #737373;
$span: #4271c6;